body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

header {
  height: 100px;
  line-height: 100px;
}

aside {
  width: 250px;
}

aside .block {
  box-shadow: 0 0 5px #eee;
  margin-bottom: 10px;
}

aside h3, #title {
  border-bottom: solid 1px #c3cae8;
  color: #34458d;
  font-weight: 600;
  text-transform: uppercase;
}

aside h3, aside ul.list {
  display: block;
  padding: 5px 10px;
}

aside.left,
section.left {
  margin-right: 10px;
  float: left;
}

section {
  width: 600px;
}

section h2 {
  font-weight: 200;
}


.common-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.common-list li {
  margin: 2px;
  padding: 2px 10px;
}